<h1 class="title">Simple Site Generator</h1>
<form id="link-form" action="/app/build_map.php" method="POST">
  <div class="form-group">
    <label for="website">Website address:</label>
    <input type="url" class="form-control" id="website" name="website" title="You must enter domain link of website" placeholder="http://www.example.com" required>
  </div>
  <div class="form-group">
    <label for="depth">DEPTH</label>
    <input type="number" class="form-control" id="depth" min="1" name="depth" placeholder="Enter depth for creating sitemap, above 1" value="5" required>
  </div>
  <button type="submit" class="btn btn-success">Create SITEMAP</button>
</form>
<h4 class="or"><strong>- OR -</strong></h4>
<form id="link-form2" action="/app/build_map.php" method="POST">
  <div class="form-group">
    <label for="website2">Choose File with URLs:</label>
    <input type="file" class="form-control" id="website2" name="website2" accept="text/plain" required>
  </div>
  <div class="form-group">
    <label for="depth2">DEPTH</label>
    <input type="number" class="form-control" id="depth2" min="1" name="depth2" placeholder="Enter depth for creating sitemap, above 1" value="5" required>
  </div>
  <button type="submit" class="btn btn-success">Create SITEMAP from FILE</button>
</form>
<div class="overlay-loading">
	<div class="loading">Please, wait! Sitemap is creating...</div>
</div>