<h1 class="title">Simple Site Generator</h1>
<form id="link-form" action="/app/build_map.php" method="POST">
  <div class="form-group">
    <label for="website">Website address:</label>
    <input type="url" class="form-control" id="website" name="website" required>
  </div>
  <div class="form-group">
    <label for="website">DEPTH</label>
    <input type="number" class="form-control" id="depth" min="1" name="depth" placeholder="Enter depth for creating sitemap, above 1" value="5" required>
  </div>
  <button type="submit" class="btn btn-success">Create SITEMAP</button>
</form>
<div class="overlay-loading">
	<div class="loading">Loading ...</div>
</div>